* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14pt;
}
h3 {
    font-weight: normal;
    font-family: 'Ribeye Marrow', cursive;
    color: #395873;
    font-size: 18pt;
}
a {
    text-decoration: none;
    color: #5687a6;
}
a:hover {
    color: #395873;
}
#header {
    margin-bottom: 25px;
    padding-left: 20px;
}
#header span {
    font-size: 32pt;
    font-family: 'Ribeye Marrow', cursive;
    color: #363636;
}
#class-info {
    display: inline-block;
    float: right;
    margin-top: 15px;
    font-size: 10pt;
    text-align: right;
}
#class-info a {
    font-size: 10pt;
}
#container {
    width: 1000px;
    margin: 10px;
}
#content {
    width: 550px;
}
#news {
    float: left;
}
#sidebar {
    float: right;
    width: 400px;
}
#footer {
    clear: both;
    text-align: center;
    font-size: 10pt;
    margin: 10px auto;
    width: 600px;
    border-top: 1px solid #d9b36c;
    padding-top: 5px;
}
#footer a {
    font-size: 10pt;
}
.section {
    margin-bottom: 20px;
}
.section ul {
    list-style: square;
    color: #5687a6;
    margin-left: 30px;
}
.news-item {
    margin-bottom: 10px;
}
.news-item-content {
    margin: 5px 0 0 10px;
}
.news-item-content p {
    margin-bottom: 15px;
}
